AUTO_READ_STATUS=on
AUTO_LIKE=off
AUTO_READ_DM=off
AUTO_DOWNLOAD_STATUS=off
AV=off
GROUP_PRESENCE=recording
DM_PRESENCE=typing
MODE=private
SESSION=
OWNER_NAME=死_ＮＥＭＥＳ１Ｘ 
OWNER_NUMBER=2348077825595
ANTICALL=off
PREFIX=X
ANTIPROMOTE=off
ANTIDEMOTE=on
